.items {
  min-height: 100vh;
  height: 400px;
  width: 400px;
  border: 1px solid black;
  display: flex;

  justify-content: space-around;
  align-items: flex-start;
  margin-top: 1rem;
  padding: 1rem;
}
